asgiref==3.2.2
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.3.0
autobahn==19.10.1
Automat==0.7.0
certifi==2018.8.24
cffi==1.13.0
channels==2.3.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
Django==2.1.7
django-carrot==1.3.3
django-eventstream==2.6.0
django-grip==2.0.1
django-rest-multiple-models==2.1.1
django-webpack-loader==0.6.0
djangorestframework==3.8.2
gripcontrol==3.3.1
hyperlink==19.0.0
idna==2.7
importlib-metadata==0.23
incremental==17.5.0
isort==4.3.20
json2html==1.2.1
jsonfield==2.0.2
lazy-object-proxy==1.4.1
mccabe==0.6.1
more-itertools==7.2.0
musicbrainzngs==0.6
packaging==19.2
pika==0.12.0
pluggy==0.13.0
psutil==5.4.5
pubcontrol==2.4.2
py==1.8.0
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.4
pytest==5.2.2
pytest-asyncio==0.10.0
pytest-django==3.6.0
pytest-dotenv==0.4.0
python-dotenv==0.9.1
pytz==2018.5
requests==2.19.1
selenium==3.141.0
six==1.12.0
spotipy==2.4.4
sseclient==0.0.24
Twisted==19.7.0
txaio==18.8.1
typed-ast==1.4.0
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
zope.interface==4.6.0
